body {
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	font-family: arial, sans-serif;
}

/* home page and interactie menu button */

.home-text {
	position: absolute;
	width: 100%;
  	padding: 20px;
}

.home-text-alt {
	position: relative;
	height: 5em;
}

.home-text-alt img{
	width: 80px;
	display: block;
	position: absolute;
	padding: 0;
	margin: 0;
	left: 50%;
	right: -50%;
	transform: translate(-50%, -50%);
}

.home-text-alt h1 {
	font-size: 2em;
	color: #E83151;
}

@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
  
	45% {
	  opacity: .5;
	}

	75% {
		opacity: .8;
	}
  
	100% {
	  opacity: 1;
	}
  }

  .animation {
	color: #E83151;
	animation: fadeIn 3s;
  }

  .home-text img {
	  width: 200px;
	  display: block;
	  padding: 0;
	  margin: 0;
	  margin-left: auto;
	  margin-right: auto;
  }

h1 {
	font-size: 15em;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: trumpsoftpro, sans-serif;
}

h2 {
	font-size: 2em;
	text-align: center;
	margin: 0px;
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 200;
	font-style: normal;
}

.mainNavIcon {
	width: 20%;
}

#mySidebar {
	background-color: #45364B;
}

.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidebar li {
	text-decoration: none;
	list-style-type: none;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: #f1f1f1;
	font-size: 1.5em;
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 400;
	font-style: normal;
	display: block;
	transition: 0.3s;
}

.sidebar li ul {
	display: none;
	position: absolute;
	z-index: 101;

}

.sidebar a:hover {
	color: #818181;
}

.sidebar .closebtn {
	position: absolute;
  	top: 0;
  	right: 25px;
  	font-size: 36px;
  	margin-left: 50px;
}

.openbtn {
	font-size: 2em;
	cursor: pointer;
	background-color: #FF715B;
  	color: white;
  	padding: .5em;
  	border: none;
}

.openbtn:hover {
	background-color: #45364B;
}

/*

.main-nav a {
	text-decoration: none;
	color: #269bc5;
	font-size: 1.25em;
}

.main-nav a:hover {
	color: #7bdafc;
}

.main-nav li ul {
	display: none;
	position: absolute;
}

.main-nav li:hover ul {
  display: block;
}

.main-nav li li {
	float: none;
	border: 1px solid #269bc5;
	font-size: .9em;
	padding: 0em 1em;
	display: block;
}

.main-nav li a {
  padding: 5px;
}

.main-nav li:hover ul {
	margin-left: 10px;
}
*/

/* end header and nav bar */



/* bath bombs page */
/*
.row img {
	width: 100%;
}

.row {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}
*/
/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
	opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 100px;
    right: 35px;
    color: #269bc5;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* end of bath bombs page */

/* about the company */

.about {
	max-width: 75%;
	margin: auto;
	margin-top: 10em;
	margin-bottom: 5em;
	font-size: 1.1em;
	line-height: 1.7em;
}

.about img {
	display: block;
	margin: auto;
	width: 50%;
}

.about-content {
	width: 22em;
	float: right;
}

.about2 {
	margin: auto;
	padding-top: 4em;
	max-width: 75%;
}

.about h2 {
	font-family: 'Palanquin', sans-serif;
}

/* end of about the company */

/* locate us page */

.map {
	width: 75%;
	margin: auto;
	display: inline-block;
	margin-top: 11em;
	margin-left: 11em;
}

.storelist-content {
	max-width: 60%;
	padding: 1.25em;
	margin-left: 23em;
}

.storelist h2 {
	font-size: 3em;
	color: #58aebe;
	text-align: center;

}

.storelist h3 {
	text-decoration: underline #58aebe;
	font-family: 'Palanquin', sans-serif;
	font-size: 1.5em;
}

.states {
	float: right;
	width: 50%;
	padding: 0px;
}

.states ul li {
	list-style-type: square;
	font-family: 'verdana', sans-serif;
	padding: .5em;
}

/* end of locate us page */

/* secondary pages */

.row {
	margin-top: 5em;
	float: left;
}

.jars {
	padding-top: 5em;
}

.whoops img {
	margin: auto;
	display: block;
	padding-top: 10em;

}

.whoops h2 {
	padding-top: 3em;
	font-family: 'Palanquin', sans-serif;
}

.whoops-content {
	width: 75%;
	margin: auto;
}

.whoops ul {
    list-style: none;
		line-height: 1.3em;
		padding: 1em;
}

.whoops li:before {
    content: "+";
    margin-right: 4px;
}

.whoops h3 {
	font-family: 'Palanquin', sans-serif;
}

.info {
	max-width: 70%;
	margin-top: 10em;
	margin-left: 10.5em;
	padding: 2em;
	margin-bottom: 3em;

}

.info h2 {
	font-family: 'Palanquin', sans-serif;
	font-size: 1.7em;
}

.info h3 {
	border-bottom: 1px solid #000;
	font-family: 'Palanquin', sans-serif;
	font-size: 1.3em;
}

.info h4 {
	font-family: 'Palanquin', sans-serif;
}

.info p {
	line-height: 1.8em;
}

.info li {
	list-style-type: none;
	line-height: 2em;
}

.info li:before {
	content: "+";
	margin-right: 4px;
}

/* end of secondary pages */

.contact {
	text-align: center;
	width: 75%;
	margin: auto;
	margin-bottom: 5em;
	padding-top: 11em;
	font-family: 'Palanquin', sans-serif;
}

.form {
	margin: auto;
}

.form p {
	padding: 1em;
	letter-spacing: .1em;
	color: #269bc5;
}
.form h3 {
	font-size: 3em;
	letter-spacing: .1em;
	color: #d2108c;
}

.form input {
	padding: 1em;
	margin: 1em;
	width: 40%;
	border: none;
	background-color: #d3d3d3;
	font-size: 1em;
}

.button {
	text-decoration: none;
	color: white;
	background-color: #d2108c;
	padding: 1em 5em;
}
.button:hover {
	background-color: #d3d3d3;
	color: white;
	border: 1px solid lightgrey;
}

footer {
	border-top: 1px solid #d3d3d3;
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	clear: both;
	text-align: center;
	color: lightgrey;
	font-size: 1.2em;
	margin-bottom: 3em;
}

.social i {
	padding: 0em 1em;
	color: #FF715B;
}

.social i:hover {
	color:  #000;
}

/* For mobile phones: ------------------ */
      @media all

      and (max-device-width: 480px)

			header {
				max-width: 100%;
			}

			@media (min-width: 1200px) {
				.bathbombs { margin-left: 12em; }
			}

			@media (max-width: 960px) {
				.main-nav { width: 100%; margin-top: 8em; text-align: left; }
				header { height: 12em; }
				.home-img { padding-top: 12em; }
				header img { left: 14em; }
			}

			@media (max-width: 960px) {
				.bathbombs img { width: 100%; }
				.main-nav ul { text-align: center; }
				.main-nav li { padding: 0em; }
				.whoops img { margin-top: 18em;}
				.jars img { width: 100%; }
			}

			@media (max-width: 600px) {
				.main-nav ul { width: 100%; }
				.main-nav ul { text-align: center; }
				.main-nav li { padding: 0em; }
				.bathbombs { margin-top: 16em; }
				.row { width: 100%; margin: auto; }
				header img { left: 8em; }
				aside nav { margin-top: 5em; }
				.whoops img { width: 100%; margin-top: 22em; }
			}
